div{

    margin-bottom: 7vh !important;
    margin-left: 2vw !important;
    margin-right: 2vw !important;
}

#sr{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2vw;
    margin-left: 2vw;
}