:root {
	font-size: 12px;
	--primary-color: #63482c;
}

body {
	font-family: sans-serif;
	width: min(1400px, 100%);
	margin: 0px;
	margin-inline: auto;
	margin-block: clamp(0rem, 1vw - 1rem, 1rem);
}

/* Styling the parent header container */
#header {
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--primary-color);
	padding: min(20px, 2%) min(30px, 3%);
	border-radius: clamp(0rem, 100vw - 1250px, 0.5rem);
}

/* Styling the links of header residing in right side */
#header-right-section {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-size: 1.25rem;
}

/* The menu button which is only visible in mobile view */
#menu-button {
	display: none;
}

/* giving margin to links in the right side of header */
#hamburger > * {
	margin-inline: 0.5rem;
}

/* positioning and hiding the close icon only visible in mobile view */
#close-button {
	position: absolute;
	top: 1rem;
	left: 1rem;
	display: none;
}

/* setting font size of the title - Addy Cart */
.title {
	font-size: 2rem;
}

/* styling text button present in header hamburger menu */
.text-button {
	color: white;
	text-decoration: none;
}
.text-button:hover {
	text-decoration: underline;
	opacity: 90%;
}

/* styling the buttons in the document - here only for login button */
.button {
	font-size: clamp(0.3rem, 3vw, 1.4rem);
	padding: 0.7rem 2rem;
	border: none;
	background-color: white;
}
.button:hover {
	cursor: pointer;
	opacity: 90%;
}

/* styling main content to be in center and to be just a little bit thinner */
main {
	width: 98%;
	margin-inline: auto;
}

/* styling heading of page */
.heading {
	font-size: clamp(1rem, 8vw, 4rem);
	text-align: center;
	color: var(--primary-color);
	border-bottom: 3px solid var(--primary-color);
	padding-bottom: 1rem;
}

/* styling the display item */
.display-item {
	display: flex;
	align-items: center;
	border-bottom: 1px solid rgba(128, 128, 128, 0.432);
	padding-block: 5px;
}
/* styling the info text of the item */
.display-item-info {
	padding-inline: clamp(0.5rem, 5%, 4rem);
	width: fit-content;
	display: flex;
	flex-direction: column;
	gap: clamp(0.2rem, 2vw, 2rem);
}
/* removing margin of every child item of display-item-info */
.display-item-info * {
	margin: 0px;
}
/* sizing display-item-image */
.display-item-image {
	background-color: var(--primary-color);
	width: clamp(12rem, 50%, 20rem);
	aspect-ratio: 1/1;
}
/* Typograhing and Fonting particular display-item elements */
.display-item-info h3 {
	font-size: clamp(0.5rem, 4vw, 2rem);
}
.display-item-info p {
	font-size: clamp(0.5rem, 3vw, 1.5rem);
}
.item-price {
	font-size: clamp(0.5rem, 4vw, 2rem);
	opacity: 60%;
}
/* customizing the action buttons for BUY-NOW or ADD-TO-CART */
.item-action-buttons button {
	background-color: black;
	color: white;
	padding-inline: 1.5rem;
}

/* styling icon specifically for menu button/icon */
.icon {
	margin-inline: 1rem;
}
.icon:hover {
	cursor: pointer;
}

/* styling the hovering open/close cart button on the screen */
#your-cart-button {
	font-size: clamp(2rem, 10vw, 5rem);
	padding: 1rem;
	border-radius: 50%;
	color: white;
	background-color: var(--primary-color);
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	z-index: 10;
}
#your-cart-button:hover {
	cursor: pointer;
}

/* styling the cart wrapper which covers the full screen when cart is open */
#cart-wrapper {
	height: 100vh;
	width: 100%;
	margin: 0px;
	position: fixed;
	left: 0;
	/* hidding the cart wrapper initially */
	top: 100vh;
	/* giving sliding effect to cart menu */
	transition: top 0.5s;
	overflow: auto;
}
/* styling the main cart container */
#main-cart {
	width: clamp(70%, calc((600px - 100vw) * 1000), 95%);
	margin: auto;
	margin-top: 16rem;
	background-color: #f7e5d2;
	border-radius: 1rem;
	padding: 1rem 2rem;
}
/* styling cart heading*/
.cart-heading {
	text-align: center;
	border-bottom: 2px solid grey;
	font-size: clamp(2rem, 5vw, 5rem);
	margin-block: 0px;
	margin-bottom: 1rem;
	/* making it sticky and scrollable lock */
	position: sticky;
	background-color: inherit;
	top: 0;
	z-index: 10;
}
/* only image needs to be changed(made to be smaller) in the cart display, other properties can be same as in normal item display */
.cart-item-image {
	background-color: var(--primary-color);
	width: clamp(8rem, 30%, 16rem);
	aspect-ratio: 1/1;
}
/* styling the checkout button */
#cart-checkout-button {
	width: 100%;
	margin: 2rem 0;
	border: none;
	color: white;
	background-color: black;
	padding-block: 1rem;
}
/* hovering style for cart button */
#cart-checkout-button:hover {
	cursor: pointer;
}

/* ---- MEDIA QUERY TIME ---- */
@media only screen and (max-width: 600px) {
	/* making menu button visible for mobile viewport */
	#menu-button {
		display: block;
	}
	/* modifying the hamburger menu for mobile viewport */
	#hamburger {
		display: none;
		flex-direction: column;
		gap: 2rem;
		background-color: black;
		padding: 5rem;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 10;
	}
	/* making close button visible for mobile viewport */
	#close-button {
		display: block;
	}
}
