* {
	box-sizing: border-box;
}
:root {
	font-size: 12px;
	--primary-color: #63482c;
}

body {
	font-family: sans-serif;
	width: min(1400px, 100%);
	margin: 0px;
	margin-inline: auto;
	margin-block: clamp(0rem, 1vw - 1rem, 1rem);
	margin-inline: clamp(0rem, 100vw - 600px, auto);
}

#header {
	color: white;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;

	background-color: var(--primary-color);

	padding: min(20px, 2%) min(30px, 3%);
	border-radius: clamp(0rem, 100vw - 1250px, 0.5rem);
}

#header-right-section {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 1rem;
	font-size: 1.25rem;
}

#menu-button {
	display: none;
}

#hamburger > * {
	margin-inline: 0.5rem;
}

#close-button {
	position: absolute;
	top: 1rem;
	left: 1rem;
	display: none;
}

.title {
	font-size: 2rem;
}

.text-button {
	color: white;
	text-decoration: none;
}
.text-button:hover {
	text-decoration: underline;
	opacity: 90%;
}

.button {
	font-size: clamp(0.3rem, 3vw, 1.4rem);
	padding: 0.7rem 2rem;
	border: none;
	background-color: white;
}

.button:hover {
	cursor: pointer;
	opacity: 90%;
}

main {
	width: 98%;
	margin-inline: auto;
}

.heading {
	font-size: clamp(1rem, 8vw, 4rem);
	text-align: center;
	color: var(--primary-color);
	border-bottom: 3px solid var(--primary-color);
	padding-bottom: 1rem;
}

#item-display {
	margin-block: clamp(1rem, 5vw, 5rem);
	/* border:2px solid h	otpink; */
}

.display-item {
	display: flex;
	align-items: center;

	border-bottom: 1px solid rgba(128, 128, 128, 0.432);

	/* ohhhh... This shit worked */
	/* 100vw - 600px will make the value 0rem when viewport width is < 600px
	and when it is greater than 600px the value will be 1rem */

	overflow: hidden;
	padding-block: 5px;
}

.display-item-info {
	padding-inline: clamp(0.5rem, 5%, 4rem);
	width: fit-content;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: clamp(0.2rem, 2vw, 2rem);
}

.display-item-info * {
	margin: 0px;
}
.display-item-image {
	background-color: var(--primary-color);
	width: clamp(12rem, 50%, 20rem);
	aspect-ratio: 1/1;
}

.display-item-info h3 {
	font-size: clamp(0.5rem, 4vw, 2rem);
}
.display-item-info p {
	font-size: clamp(0.5rem, 3vw, 1.5rem);
}

.item-price {
	font-size: clamp(0.5rem, 4vw, 2rem);
	opacity: 60%;
}

.item-action-buttons button {
	background-color: black;
	color: white;
	padding-inline: 1.5rem;
}

.icon {
	margin-inline: 1rem;
}
.icon:hover {
	cursor: pointer;
}

#your-cart-button {
	font-size: clamp(2rem, 10vw, 5rem);
	padding: 1rem;
	border-radius: 50%;
	color: white;
	background-color: var(--primary-color);
	position: fixed;
	bottom: 1rem;
	right: 1rem;

	z-index: 10;
}

#your-cart-button:hover {
	cursor: pointer;
	font-size: clamp(2rem, 10vw, 6rem);
}

@media only screen and (max-width: 600px) {
	#menu-button {
		display: block;
	}
	#hamburger {
		display: none;
		flex-direction: column;
		gap: 2rem;
		background-color: black;
		padding: 5rem;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1000;
	}
	#close-button {
		display: block;
	}
}

#cart-wrapper{
	height: 100vh;
	width: 100%;
	margin: 0px;
	position: fixed;
	/* margin: auto; */
	/* top: 8rem; */
	bottom: 2rem;
	left: 0;

	top:100vh;
	transition: top .5s ;

	overflow: scroll
}

#main-cart {
	width: clamp(70%, calc((600px - 100vw) * 1000), 95%);
	margin: auto;
	margin-top: 16rem;
	/* height: 90vh; */
	background-color: #f7e5d2;

	border-radius: 1rem;
	padding: 1rem 2rem;

}


.cart-heading{
	text-align: center;
	border-bottom: 1px solid grey;
	font-size: clamp(2rem, 5vw, 5rem);
	margin-block:0px;
	margin-bottom: 1rem;
}

.cart-item-image{
	background-color: var(--primary-color);
	width: clamp(8rem, 30%, 16rem);
	aspect-ratio: 1/1;
}

#cart-checkout-button{
	width: 100%;
	margin: 2rem 0;
	border:none;
	border-radius: none	;
	color:white;
	background-color: black;
	padding-block:1rem;
}

#cart-checkout-button:hover{
	cursor: pointer;
}